{
  "trailingComma": "none",
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "endOfLine": "lf",
  "printWidth": 180,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "jsxSingleQuote": true
}
